body {
    padding: 0px;
    margin: 0px;
}

* {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #1F2937;
    color: white;
    padding: 0px 100px;
}

a {
    text-decoration: none !important;
    color: inherit;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.hero {
    display: flex;
    gap: 100px
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;   
}

.main-description {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-right>img {
    width: 500px;
    padding-bottom: 60px;
}

.signup-button,
.banner-button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 900;
    color: inherit;
    border-radius: 10px;
    border: 0px;
    width: 150px;
    height: 50px;
}

.info-section h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 300px;
    gap: 40px;
}

.info-cards {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: grey;
    text-align: center;
}

.img-placeholder {
    border: 4px solid #3882F6;
    border-radius: 15px;
    width: 160px;
    height: 150px;
    margin-bottom: 20px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    padding-top: 20px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    width: 60%;
    padding: 30px;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 300px;
    margin-bottom: 40px;
}

.signup-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 0 20%;
    padding: 0 5%;
    border-radius: 20px;
}

#banner-subtext {
    color: #E5E7EB;
}

.banner-button {
    border: 1px solid white;
}

#call-action {
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 0;
    margin-bottom: 0;
}
